<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Currency Converter by ppawel</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css"></link>
<style type="text/css">
body {
	background-color: #DADADA;
}

.column {
	max-width: 1024px;
}
</style>
</head>
<body>
<!-- 	<div class="ui middle aligned relaxed centered grid"> -->
<!-- 		<div class="center aligned column"> -->
<!-- 			<h2 class="ui image header"> -->
<!-- 				<div class="content">Convert</div> -->
<!-- 			</h2> -->

			<form th:action="@{/process}" method="post" th:object="${convertData}">
				<input type="text"  name="amt"/> <input type="submit" />
			</form>

			
</body>
</html>